.container {
    min-height: 100vh;
    padding-bottom: 4rem;
}

.header {
    background-color: var(--c-black);
    color: #fff;
    padding: 4rem 1rem;
    text-align: center;
    margin-bottom: 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: var(--font-serif);
}

.subtitle {
    font-size: 1rem;
    opacity: 0.9;
}

.menuContent {
    padding-top: 3rem;
    min-height: 60vh;
}